<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Claim Your Mortgage</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCYM"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="#navbarCYM">
    <div class="navbar-nav">
      <a class="nav-link active" href="#">Have you been mis-sold<span class="sr-only">(current)</span></a>
      <a class="nav-link" href="#">FAQs</a>
      <a class="nav-link" href="#">Sign in</a>
      <a class="nav-link disabled brand" href="#" tabindex="-1" aria-disabled="true">call us on 0151 1213 456</a>
    </div>
  </div>
</nav>
