<div class="web-container">
  <header>
    <h1 class="brand">Start your claim now,<br />it takes just 3 minutes!</h1>
    <h2>You will need know your address,<br />
      a few basic mortgage and financial details.</h2>
  </header>
  <main>
    <ul class="selling-points">
      <li>
        <div>
          <img src="/assets/img/check-square-solid.svg" width="64" alt="" />
        </div>
        100% no obligation
      </li>
      <li>
        <div>
          <img src="/assets/img/lock-solid.svg" width="64" alt="" />
        </div>
        Completely confidential and secure
      </li>

      <li>
        <div>
          <img src="/assets/img/copy-solid.svg" width="64" alt="" />
        </div>
        Process over 1000 claims a week
      </li>
    </ul>
    <!-- Add form here -->
    <section class="form-container">
      <h2 class="brand">Tell us about yourself</h2>
      <div class="container">
        <div class="row">

          <form class="needs-validation" novalidate>
            <div class="f-row">
              <div class="labels"><label>Title *</label></div>
              <div class="inputs">
                <button type="button" class="btn btn-brand">Mr</button>
                <button type="button" class="btn btn-brand">Mrs</button>
                <button type="button" class="btn btn-brand">Miss</button>
                <button type="button" class="btn btn-brand">Ms</button>
                <button type="button" class="btn btn-brand">Other</button>
                <img src="assets/img/info-circle-solid.svg" width="24" alt="" />
              </div>
            </div>
            <div class="f-row">
              <div class="labels">
                <label for="fullName">Full Name *</label>
              </div>
              <div class="inputs">
                <input type="text" class="form-control input-brand" id="fullName" placeholder="" value="" required="">
              </div>
            </div>

            <div class="f-row">
              <div class="labels">
                <label for="dob">Date of Birth *</label>
              </div>
              <div class="inputs">
                <div class="custom-field">
                  Day<input type="number" class="form-control input-brand" />
                </div>
                <div class="custom-field">
                  Month<input type="number" class="form-control input-brand" />
                </div>
                <div class="custom-field">
                  Year<input type="number" class="form-control input-brand" />
                </div>
              </div>
            </div>

            <div class="f-row">
              <div class="labels">
                <label for="dob">How do you prefer to be contacted? *</label>
              </div>
              <div class="inputs">
                <div class="custom-field">
                  <input type="button" class="form-control input-brand" value="Phone" />
                </div>
                <div class="custom-field">
                  <input type="button" class="form-control input-brand" value="Email" />
                </div>
                <div class="custom-field">
                  <input type="button" class="form-control input-brand" value="Post" />
                </div>
              </div>
            </div>


            <div class="f-row">
              <div class="labels">
                <label for="dob"> Marital status *</label>
              </div>
              <div class="inputs">
                <div class="custom-field">
                  <input type="button" class="form-control input-brand" value="Single" />
                </div>
                <div class="custom-field">
                  <input type="button" class="form-control input-brand" value="Married" />
                </div>
                <div class="custom-field">
                  <input type="button" class="form-control input-brand" value="Divorce" />
                </div>
                <div class="custom-field">
                  <input type="button" class="form-control input-brand" value="Other" />
                </div>
              </div>
            </div>
            <!-- Further form fields to build -->

          </form>

        </div>
      </div>
    </section>
  </main>
  <footer>
    <section class="social-icons">
      <!-- Social media Icons to be added-->
    </section>
    <section class="foot-notes">
      <!-- Add image -->
      <p></p>
      <ul class="footer-urls">
        <!-- Add foot note urls -->
      </ul>
    </section>
  </footer>
</div>
<!-- end web-container -->
